*{
  font-family: 'Anton', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 75, 75);
}

a {
  text-decoration: none;
  color: yellow;
}

.banner {
  background-color: red;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.banner li {
  display: inline;
  color: yellow;
}

.banner li a {
  display: inline-block;
  padding: 10px;
  margin: 0 10%;
}

.banner li a:hover {
  color: white;
}

.bildruta {
  position: absolute;
  left: 33%;
  width: 67%;
  height: 600px;
  text-align: center;
  /*hindrar extra margin i firefox*/
  line-height: 0;
}

.bildruta img {
  width: 100%;
  height: 100%;
  /*hindrar extra margin i chrome*/
  float: right;
}

#bildsource {
  position: relative;
  z-index: 1;
  font-size: 20px;
  padding: 10px;
  top: 500px;
  background-color: rgba(255, 0, 0, 0.9);
}

#bildsource:hover {
  color: white;
}

.textruta {
  background-color: rgb(255, 75, 75);
  width: 33%;
  border-style: double double none none;
  border-color: yellow;
  position: relative;
  padding: 10px;
  height: 600px;
  text-align: center;
  overflow: auto;
}

.textruta::-webkit-scrollbar {
  display: none;
}

.textruta h1 {
  color: yellow;
}

.textruta button {
  position: relative;
  top: 10px;
  font-size: 20px;
  border-style: none none double none;
  border-color: yellow;
  background: none;
  cursor: pointer;
  outline: inherit;
}

.textruta button:hover {
  border-color: white;
  color: white;
}

@media screen and (max-width: 900px) {
  .banner li a {
  margin: 0 5%;
  }
}

@media screen and (max-width: 600px), (orientation: portrait) {
  body {
    overflow: auto;
  }

  .banner {
    position: fixed;
    font-size: 50px;
    z-index: 2;
    width: 100%;
  }

  .banner li a {
    margin: 0;
    display: block;
    border-style: none none double none;
  }

  .bildruta {
    top: 294px;
    position: relative;
    left: 0;
    width: 100%;
    height: 1200px;
    text-align: center;
  }

  #bildsource {
    top: 1000px;
  }

  .textruta {
    top: 294px;
    width: 100%;
    border-style: double none none none;
    height: auto;
    font-size: 40px;
  }

  .textruta button {
    margin: 100px;
    font-size: 75px;
  }
}
