*{
  font-family: 'Anton', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(200, 0, 0);
  text-align: center;
}

.banner {
  background-color: red;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.banner li {
  display: inline;
  color: yellow;
}

.banner li a {
  display: inline-block;
  padding: 10px;
  margin: 0 10%;
  text-decoration: none;
  color: inherit;
}

.banner li a:hover {
  color: white;
}

.karta {
  position: relative;
  color: yellow;
  border-style: solid;
  width: 80%;
  margin-left: 10%;
  background-color: rgb(255, 75, 75);
  padding: 0 0 10px 0;
}

.grid {
  position: relative;
  color: yellow;
  display: grid;
}
/* v koden för kartan, som jag har försökt göra några ändringar på v */
.mapouter {
  position: relative;
  text-align: right;
  height: 400px;
  width: 75%;
  margin-left: 12.5%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
}

#gmap_canvas {
  width: 100%;
}
/* ^ koden för kartan ^ */

@media screen and (max-width: 900px) {
  .banner li a {
  margin: 0 5%;
  }
}

@media screen and (max-width: 600px), (orientation: portrait) {
  .banner {
    position: fixed;
    font-size: 50px;
    z-index: 2;
    width: 100%;
  }

  .banner li a {
    margin: 0;
    display: block;
    border-style: none none double none;
  }

  .karta {
    top: 294px;
  }

  .grid {
    top: 294px;
  }
}
