*{
  font-family: Impact, "Charcoal", sans-serif;
}
body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/09/Notre_Dame_Cathedral_Ho_Chi_Minh_city_%2839543912241%29.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 700px;
}

h1 {
  width: 400px;
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  color: yellow;
}

.banner {
  background-color: red;
  list-style: none;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

.banner li {
  display: inline-block;
  padding: 8px 10%;
  color: yellow;
}
